.login{
    display: flex;
}

.login_txt{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_txt h3{
font-size: 3.5rem;
font-weight: bold;
}

.login_txt p{
    font-size: 1.5rem;
    color: #0000ff7e;
    /* font-weight: bold; */
    }


.login_form{
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_box{
    width: 70%;
    /* height: 65%; */
    border: 0.1rem solid #5d77fb;
    border-radius: 0.6rem;
    padding: 2rem;
}

.login_h3{
    font-size: 2rem;
}

.login_p{
    margin: 1rem 0rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.327);
}

.login_input label{
    font-weight: 600;
    /* margin: 10rem 10rem; */
}

.login_input input{
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin: 0.8rem 0.5rem;
    width: 90%;
    height: 2.3rem;
    font-weight: 600;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    /* margin: 10rem 10rem; */
}

.login_input input::placeholder{
    /* margin: 10rem 10rem; */
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.297);

}

.login_para{
    margin: 1rem 0rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.login_para:hover span{
    color: red;
}

.login_btn{
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);

}
.login_btn button{
    width: 90%;
    outline: none;
    border: none;
    border-radius: 0.7rem;
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    margin: 0.8rem ;

}


.login_btn button:hover{
    color: red;
background: #000;
cursor: pointer;
}